
@{
    ViewBag.Title = "onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>onas</h2>

<div>

    co kolwiek co kolwiek co kolwiek co kolwiekco kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
    co kolwiek co kolwiek co kolwiek co kolwiek
</div>